body {
    background-color: #0f172a;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 100px;
}

input {
    padding: 10px;
    width: 250px;
    border-radius: 8px;
    border: none;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    background-color: #10a37f;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0d8f6c;
}

.response {
    margin-top: 30px;
}

.ai-box {
    background: #1e293b;
    padding: 20px;
    border-radius: 12px;
    display: inline-block;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #6366f1;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

.btn:hover {
    background: #4f46e5;
}
